html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

div {
    width: 100%;
    padding: 100px;
}

div.one {
    background: thistle;
}

div.two {
    background: mistyrose;
}

div.three {
    background: coral;
}

